/* Header.module.css */
.header {
  /* margin: 0px 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 1rem;
}

.navlink {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.3s;
}

.navlink:hover,
.navlink:focus {
  background-color: #555;
}

/* Hide the menu button on desktop screens */
.menubutton {
  display: none;
}

/* Styles for mobile devices */
@media (max-width: 600px) {
  .nav {
    display: none; /* Hide navigation on mobile */
  }

  .menu-button {
    display: block; /* Show menu button on mobile */
  }
}
