.header {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 1rem;
}

.mainLogo {
  /* font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none; */
  position: relative;
  left: 2rem;
  top: 3.5rem;
  transform: translateY(-100%);
}

.nav {
  display: flex;
  gap: 1rem;
}

.navlink {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.3s;
}

.navlink:hover,
.navlink:focus {
  background-color: #555;
}

.menubutton {
  display: none;
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
