.sidekickContainer {
  /* font-family: Statista; */
  padding: 1rem;
  color: #000;
  text-align: center;
  box-sizing: border-box;
}
.sidekickContainer h1 {
  font-size:0.8rem;
  margin-bottom: 0.5rem;
}

.sidekickContainer p {
  font-size: 1.4rem;
line-height: 0.9;
  margin-bottom: 0.5rem;
}

.sidekickContainer .highlightedText {
  font-size: 2rem; 
  font-weight: bold; 
  line-height: 1;
  margin-bottom: 0.5rem;
}

.contactInfo p {
  font-family: Noto Serif Black;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .sidekickContainer {
    padding: 0.625rem;
  }

  .sidekickContainer h1 {
    font-size: 1.25rem;
  }

  .sidekickContainer p {
    font-size: 1.25rem;
  }
}

/* Link styles */
.contactInfo p {
  font-size: 1.3rem;
  font-weight: bold;
}

.sidekickContainer a {
  color: #1a0dab;
  text-decoration: none;
}

.sidekickContainer a:hover {
  text-decoration: underline;
}
