.sidekickContainer {
  /* font-family: Statista; */
  padding: 1rem;
  color: #000;
  text-align: center;
  box-sizing: border-box;
}
/* .sidekickContainer h1 {
  font-family: Noto Serif Black;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
} */

.sidekickContainer p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.sidekickContainer .highlightedText {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}

.contactInfo p {
  font-family: Noto Serif Black;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.5rem;
}

  .sidekickContainer a {
    color: #1c0ccb;
    text-decoration: none;
  }

  .sidekickContainer a:hover {
    color: #3b2af9;
    text-decoration: underline;
  }


@media (max-width: 768px) {
  .sidekickContainer {
    padding: 0.625rem;
  }

  .sidekickContainer h1 {
    font-size: 1.25rem;
  }

  .sidekickContainer p {
    font-size: 1.25rem;
  }

  /* Link styles */
  .contactInfo p {
    font-size: 1.5rem;
    /* line-height: 1; */
    font-weight: bold;
  }
}
