.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0);
  padding: 5rem;
  gap: 0px 20px 20px 20px;
}

.checkOutWork {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  color: aliceblue;
}

.videosGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns  */
  grid-gap: 20px;
  width: 100%;
}

.videoItem {
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
}

.videoItem iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .videosGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}

@media (max-width: 600px) {
  .videosGrid {
    grid-template-columns: 1fr; /* 1 column small screens */
  }
}
