.servicesContainer {
  position: relative;
  height: 85vh;
  color: black;
  padding: 0rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.backgroundVideo {
  position: absolute;
  top: 0; /* Align video to the top of the container */
  left: 0; /* Align video to the left of the container */
  width: 100%; /* Set video width to cover full width of the container */
  height: 100%; /* Set video height to cover full height of the container */
  object-fit: cover; /* Cover the container fully while maintaining aspect ratio */
  object-position: center 50%; /* Adjust the position */
}

@media (max-width: 1250px) {
  .servicesContainer {
    flex-direction: column;
    height: 39vh;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .servicesContainer {
    height: 25vh;
  }

  .backgroundVideo {
    height: 100%;
    object-fit: cover;
    object-position: center 50%;
  }
}
