.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem;
  min-height: 100vh;
}

.backgroundImageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 86vh;
  background-image: url('/mainPage.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
}

.backgroundImageContainer::before {
  content: none;
}

.textOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(3, 30, 80, 0.6); /* Dark overlay */
  padding: 1.5rem 0; /* Padding for the overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.welcomeTitle {
  z-index: 2;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  font-family: Noto Serif Black;
  font-size: 5.8rem;
  padding-bottom: 0rem; /* Adds space between title and text */
  animation: fadeInGrow 1.5s ease-out forwards 0s; /* Animation with no delay */
}

.welcomeText {
  z-index: 2;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  font-family: Noto Serif Black;
  font-size: 5.8rem;
  font-weight: bold;
  padding-bottom: 2rem;
  opacity: 0; /* Set initial opacity to 0 to make it invisible */
  animation: fadeInGrow 1.5s ease-out forwards 2s; /* Animation with 2 seconds delay */
}

@keyframes fadeInGrow {
  0% {
    opacity: 0;
    transform: scale(0.2); /* Start smaller and invisible */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Scale to normal size and become visible */
  }
}

.section {
  padding: 0rem 0rem;
}

@media (max-width: 1200px) {
  .welcomeTitle {
    font-size: 3.5rem;
  }
  .welcomeText {
    font-size: 1.75rem;
  }
}

@media (min-width: 701px) and (max-width: 1199px) {
  .backgroundImageContainer {
    height: 90vh;
  }
  .welcomeTitle {
    font-size: 3.8rem;
  }
  .welcomeText {
    font-size: 3.8rem;
  }
}

@media (max-width: 700px) {
  .backgroundImageContainer {
    height: 73vh;
  }

  .welcomeTitle {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .welcomeText {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  @media (max-width: 500px) {
    .backgroundImageContainer {
      height: 73vh;
    }

    .welcomeTitle {
      font-size: 2.1rem;
      margin-bottom: 0.5rem;
    }
    .welcomeText {
      font-size: 2.1rem;
      margin-top: 1rem;
    }
  }
}
