.servicesContainer {
  position: relative;
  height: 10vh;
  color: black;
  padding: 0rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: hidden;
  height: auto;  /* 12rem*/
  justify-content: center;
  align-items: center;
}

.backgroundVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  /* min-height: 100%; */
  width: auto;
  /* height: auto; */
  z-index: -1;
  background-size: cover;
  overflow: hidden;
}

.serviceTitle {
  color: rgb(30, 28, 28);
  font-family: Noto Serif Black;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  width: 100%;
}

/* .serviceCard {
  position: relative;
  top: 0;
  border: 1px solid #ddd;
  padding: 1.525rem;
  margin: 1rem auto;
  background-image: url('/marketingCard.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  width: 50%;
  min-height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.serviceCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0.5rem;
  z-index: 0;
}

.serviceDescription {
  font-size: 1.9rem;
  color: rgb(32, 1, 1);
  font-weight: bold;
  margin: 10px 0;
  position: relative;
  z-index: 2;
}

.animateLeft {
  animation: slideInFromLeft 1.2s forwards;
}

.animateRight {
  animation: slideInFromRight 1.2s forwards;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */

@media (max-width: 1250px) {
  .servicesContainer {
    flex-direction: column;
    align-items: center;
  }

  /* .serviceCard {
    width: 80%;
    margin: 20px auto;
  } */

  .serviceTitle {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .servicesContainer {
    flex-direction: column;
    height: auto;
  }

  /* .serviceCard {
    width: 80%;
    margin: 10px auto;
  }

  .serviceDescription {
    font-size: 1rem;
  } */
}
