.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: black;
  color: white;
}

.subscribeSection {
  text-align: center;
  margin-bottom: 0.5rem; 
  font-size: 1rem;
  font-weight: bold; 
}

.youtubeLinkContainer {
  display: none;
}

.combinedLink {
  color: white;
  /* #ff0000 */
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
}

.combinedLink:hover {
  color: white;
  text-decoration: underline; 
}
.textWithMargin {
  margin-right: 0.35rem;
}

.iconLink {
  display: none; 
}

.copyRight {
  font-family: inter;
  font-size: 0.65rem;
  text-align: center;
  margin-top: 0.3rem;  
}

.copyRightText, .emailLink {
  margin-left: 0.3rem;
  margin-bottom: 0.4rem;
  color: #6a68d6; 
  text-decoration: none; 
  transition: color 0.3s ease;
}

.emailLink:hover {
  color: #4240c8; 
}

