.servicesContainer {
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/mainPage.jpg');
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}

.serviceTitle {
  color: white;
  font-size: 4rem;
  text-align: center;
  margin: 9.2rem 0rem 0rem 0rem;
}

.serviceItem {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 100%;
  text-align: center;
}

.serviceDescription {
  font-size: 1rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem 20rem;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .servicesContainer {
    flex-direction: row;
    justify-content: space-around;
  }

  .serviceItem {
    width: 30%;
  }
}
